@use '../base/variables' as var;

.marquee {
    padding: 80px 0 40px 0;
    background-color: transparent; 
    overflow: hidden;

    &__track {
        position: relative;
        display: flex;
        width: 100%;
        
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            width: 80px; // Un poco más corto el difuminado para mobile
            height: 100%;
            z-index: 2;
            pointer-events: none;
        }
        &::before { left: 0; background: linear-gradient(to right, var.$color-bg-main, transparent); }
        &::after { right: 0; background: linear-gradient(to left, var.$color-bg-main, transparent); }
    }

    &__content {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        
        // --- ESCRITORIO ---
        gap: 100px; 
        padding-right: 100px; 
        animation: scroll-infinite 40s linear infinite;

        // --- RESPONSIVE (Ajustes solicitados) ---
        @media (max-width: 768px) {
            gap: 30px;             // Más pegados (de 50px a 30px)
            padding-right: 30px; 
            animation-duration: 25s; // Más lento (de 15s a 25s)
        }

        img {
            height: 55px; 
            width: auto;
            filter: grayscale(100%) brightness(0.8);
            opacity: 0.5;
            transition: all 0.4s ease;

            &:hover {
                filter: grayscale(100%) brightness(1.2); 
                opacity: 1;
                transform: scale(1.05);
            }

            @media (max-width: 768px) {
                height: 45px; // Un poco más pequeños para que el gap de 30px luzca bien
                opacity: 0.8; 
                filter: grayscale(100%) brightness(0.5); // Bien oscuros
            }
        }
    }
}

@keyframes scroll-infinite {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}